body {
  background-color: #112D4E;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  color: #112D4E;
  text-decoration: underline;
  text-decoration-color: #112D4E;
}

a:hover {
  color: #112d4e80;
  text-decoration: underline;
  text-decoration-color: #112d4e80;
}

a:active {
  color: #112d4e80;
  text-decoration: underline;
  text-decoration-color: #112d4e80;
}

.leftPage {
  background-color: #F9F7F7;
}

.rightPage {
  background-color: #DBE2EF;
}

.strengthsAndWeaknesses {
  width: 100%;
}

.italic { 
  font-style: italic; 
}

.container {
max-width: 100vw;
}

.profile-img {
  border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
  width: 70%;
  box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 1);
}

.icon-square {
  width: 1.5rem;
  height: 1.5rem;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(143, 143, 143);
  border-radius: 50%;
}